<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JD_Dog_Care.Properties.Settings.JD_Dog_CareConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=&quot;JD Dog Care&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>